<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Heladeria Premium</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tu Cuenta</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#"><span class="fa fa-shopping-cart"></span><span class="text">Carrito</span></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://w0.peakpx.com/wallpaper/219/242/HD-wallpaper-food-ice-cream.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>No te arrepentiras</h5>
          <p>Crea tu cuenta ¡YA! y empieza a degustar de nuestros deliciosos sabores y todo en la comodidad de tu casa</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="link-area">
    <a href="https://www.youtube.com/channel/UCki4IDK86E6_pDtptmsslow" target="_blank">Contactenos</a>
  </div>
